<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="conns" value="server=101.200.230.53;database=0359idatabase;user id=sa;password=Hao123.com;"/>
    <!--<add key="ComBeziWfsSub" value="ComBeziWfs"/>-->
    <add key="ns" value="XY.Entity"/>
    <add key="fn" value="ENTITY"/>
    <!--数据库名|原有表名|替换表名，数据库名|原有表名|替换表名 多个用逗号分隔-->
    <add key="fixName" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
