<div class="pageheader">
    <h2>
        <i class="fa fa-tachometer"></i> @XY.UserDateTicket.Company.Name
        <span>// 信息总览...@XY.UserDateTicket.Company.ID</span>
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>当前位置</li>
            <li><a href="/">后台管理</a></li>
            <li class="active">首页</li>
        </ol>
    </div>
</div>
<div class="main">
    <div class="row cards">
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card card-redbrown">
                <div class="front">
                    <div class="media">
                        <span class="pull-left">
                            <i class="fa fa-align-justify media-object"></i>
                        </span>

                        <div class="media-body">
                            <small>栏目总量</small>
                            <h2 class="media-heading animate-number"> @ViewBag.ClassCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card card-blue">
                <div class="front">
                    <div class="media">
                        <span class="pull-left">
                            <i class="fa fa-align-justify media-object"></i>
                        </span>

                        <div class="media-body">
                            <small>信息总量</small>
                            <h2 class="media-heading animate-number"> @ViewBag.NewsCount</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>