<?xml version="1.0" encoding="utf-8" ?>
<statements>
#foreach( $Table in $Tables )
  <statement id="${Table.TemplateName}_NoLock" primarykey="$Table.PK">
    SELECT $Table.ColumnNames  FROM $Table.TableName  WITH(NOLOCK)  WHERE $Table.PK=@$Table.PK
  </statement>
#end
</statements>