
@{
    ViewBag.Title = "视频管理";
}
@Scripts.Render("~/js/jqueryPage")
<script src="/Content/js/vendor/chosen/chosen.jquery.min.js"></script>
<script type="text/x-jquery-tmpl" id="dataModel">
    <tr class="gradeA odd" id="${ID}">
        <td class="">${ID}</td>
        <td class="">${TypeName}</td>
        <td class="">${Title}</td>
        <td class="">${Author}</td>
        <td class="text-center ">${ChangeDateFormat(CreateTime)}</td>
        <td class="text-left ">
            <a href="/Video/Create/@ViewBag.ID?nid=${ID}" class="btn btn-blue btn-xs"> 修改 </a>
            <a href="javascript:del('${ID}',this,'Video')" class="btn btn-orange btn-xs"> 删除 </a>
        </td>
    </tr>
</script>
<script type="text/javascript">
    $(function () {
        $("tbody").bindPage({
            where: "IsAudit|equal|1#DR|equal|0#ClassID|equal|" + '@ViewBag.ID'
        });
    });
</script>
<div class="pageheader">
    <h2>
        <i class="fa fa-cogs"></i> @ViewBag.ClassName 列表
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>当前位置</li>
            <li><a href="/Class/Index"> @ViewBag.ClassName 管理</a></li>
        </ol>
    </div>
</div>
<div class="main">
    <section class="tile transparent">
        <!-- tile body -->
        <div class="tile-body color transparent-black rounded-corners">
            <div class="table-responsive">
                <div id="datetable" class="dataTables_wrapper">
                    <table class="table table-datatable table-custom dataTable" id="dataTable" url="/Video/GetPage">
                        <thead>
                            <tr role="row">
                                <th class="sort-alpha">功能ID</th>
                                <th class="sort-alpha">类别</th>
                                <th class="sort-alpha">标题</th>
                                <th class="sort-alpha">发布者</th>
                                <th class="sort-alpha sorting">创建时间</th>
                                <th class="">管理</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right sm-center">
                            <div class="dataTables_paginate paging_bootstrap paging_custombootstrap">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>