
@{
    ViewBag.Title = "角色列表";
}
@Scripts.Render("~/js/jqueryPage")
<script type="text/x-jquery-tmpl" id="dataModel">
    <tr class="gradeA odd" id="${ID}">
        <td class="">${ID}</td>
        <td class="">${Name}</td>
        <td class="">${Description}</td>
        <td class="text-center ">${ChangeDateFormat(CreateTime)}</td>
        <td class="text-left ">
            <a href="/Role/Create/${ID}" class="btn btn-blue btn-xs"> 修改 </a>
            <a href="javascript:del('${ID}',this,'Role')" class="btn btn-orange btn-xs"> 删除 </a>
        </td>
    </tr>
</script>
<script type="text/javascript">
    $(function () {
        $("tbody").bindPage({
        });
    });

</script>
<div class="pageheader">
    <h2>
        <i class="fa fa-cogs"></i> 角色列表
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>当前位置</li>
            <li><a href="/Role/Index">角色管理</a></li>
        </ol>
    </div>
</div>
<div class="main">
    <section class="tile transparent">
        <!-- tile body -->
        <div class="tile-body color transparent-black rounded-corners">
            <div class="table-responsive">
                <div id="datetable" class="dataTables_wrapper">
                    <table class="table table-datatable table-custom dataTable" id="dataTable" url="/Role/GetPage">
                        <thead>
                            <tr role="row">
                                <th class="sort-alpha">角色ID</th>
                                <th class="sort-alpha">角色名称</th>
                                <th class="sort-alpha">角色描述</th>
                                <th class="sort-alpha sorting">创建时间</th>
                                <th class="">管理</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right sm-center">
                            <div class="dataTables_paginate paging_bootstrap paging_custombootstrap">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
