<?xml version="1.0" encoding="utf-8"?>
<databases>
  <connection name="Test" connectionString="server=.;uid=sa;pwd=hao123;database=0359idatabase;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
  <connection name="ApplicationDB_ConnectionString" connectionString="server=101.200.230.53;uid=sa;pwd=Hao123.com;database=0359idatabase;timeout=5;MultipleActiveResultSets=true;" retry="1" executionTime="10" printSql="true"/>
</databases>
