
@{
    ViewBag.Title = "客服中心";
    ViewBag.setMenu = "2-1";
}
<script type="text/javascript" src="~/Content/js/_com.js"></script>
<script type="text/javascript" src="/Content/js/custom/support.js"></script>
<div class="pageheader notab">
    <h1 class="pagetitle">在线客服</h1>
</div>
<div id="messbody">
    <div class="contentwrapper withrightpanel">
        <div class="subcontent chatcontent">
            <div id="chatmessage" class="chatmessage radius2">
                <div id="chatmessageinner"></div><!--chatmessageinner-->
            </div><!--chatmessage-->
            <div class="messagebox radius2">
                <button>发送</button>
                <span class="inputbox">
                    <input type="text" id="msgbox" name="msgbox" />
                </span>
            </div>
        </div><!--subcontent-->
    </div><!--contentwrapper-->
</div>
<div class="rightpanel">
    <div class="rightpanelinner">
        <div class="widgetbox uncollapsible">
            <div class="title"><h4>用户信息</h4></div>
            <div class="widgetcontent nopadding">
                <div class="chatsearch">
                    <input type="text" name="" value="Search" />
                </div>
                <ul class="contactlist">
                    <li class="online new"><a href=""><img src="/Content/images/thumbs/avatar5.png" alt="" /> <span>Hiccup Haddock III</span></a><span class="msgcount">3</span></li>
                    <li><a href=""><img src="/Content/images/thumbs/avatar6.png" alt="" /> <span>Astrid Hofferson</span></a></li>
                    <li class="online"><a href=""><img src="/Content/images/thumbs/avatar7.png" alt="" /> <span>Vector</span></a></li>
                    <li class="online"><a href=""><img src="/Content/images/thumbs/avatar8.png" alt="" /> <span>Puss in Boots</span></a></li>
                    <li class="online new"><a href=""><img src="/Content/images/thumbs/avatar9.png" alt="" /> <span>Humpty Dumpty</span></a><span class="msgcount">1</span></li>
                    <li><a href=""><img src="/Content/images/thumbs/avatar10.png" alt="" /> <span>Shrek</span></a></li>
                    <li><a href=""><img src="/Content/images/thumbs/avatar11.png" alt="" /> <span>Princess Fiona</span></a></li>
                    <li><a href=""><img src="/Content/images/thumbs/avatar11.png" alt="" /> <span>Princess Fiona</span></a></li>
                </ul>
            </div><!--widgetcontent-->
        </div><!--widgetbox-->
    </div><!--rightpanelinner-->
</div><!--rightpanel-->
