
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/js/jqueryPage")
<script src="/Content/js/vendor/chosen/chosen.jquery.min.js"></script>
<script type="text/x-jquery-tmpl" id="dataModel">
    <tr class="gradeA odd" id="${ID}">
        <td class="">${ID}</td>
        <td class="">${Logo}</td>
        <td class="">${BrandName}</td> 
        <td class="">${Theme}</td> 
        <td class="text-left ">
            <a href="/P_BrandCategory/Create/${ID}" class="btn btn-blue btn-xs"> 修改 </a>
            <a href="javascript:del('${ID}',this,'P_BrandCategory')" class="btn btn-orange btn-xs"> 删除 </a> 
        </td>
    </tr>
</script>
<script type="text/javascript">
    $(function () {
        $("tbody").bindPage({
            where: "DR|equal|0#CompanyID|equal|" + '@XY.UserDateTicket.Company.ID'
        });
    });
</script>
<div class="pageheader">
    <h2>
        <i class="fa fa-cogs"></i> 品牌 列表
    </h2>
    <div class="breadcrumbs">
        <ol class="breadcrumb">
            <li>当前位置</li>
            <li><a href="/Class/Index"> 品牌 管理</a></li>
        </ol>
    </div>
</div>
<div class="main">
    <section class="tile transparent">
        <!-- tile body -->
        <div class="tile-body color transparent-black rounded-corners">
            <div class="table-responsive">
                <div id="datetable" class="dataTables_wrapper">
                    <table class="table table-datatable table-custom dataTable" id="dataTable" url="/P_BrandCategory/GetPage">
                        <thead>
                            <tr role="row">
                                <th class="sort-alpha">品牌ID</th>
                                <th class="sort-alpha">品牌Logo</th>
                                <th class="sort-alpha">品牌名称</th>
                                <th class="sort-alpha">显示顺序</th> 
                                <th class="">管理</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right sm-center">
                            <div class="dataTables_paginate paging_bootstrap paging_custombootstrap">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>